* {
    box-sizing: border-box;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --section-bg-color: #ececec;
    --header-height: 72px;
    --main-transition: 0.3s;
    --section--padding: 120px;
    --main-padding-top: 100px;
    --main-padding-bottom:100px
}

html {
    scroll-behavior: smooth;
    scrollbar-width: 20px;
    scrollbar-color: red;
}

body {
    font-family: "Cairo", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.main-title {
    margin: 0 auto 80px;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 2px solid black;
    font-size: 30px;
    position: relative;
    width: fit-content;
    transition: var(--main-transition);
    z-index: 1;
}

.main-title::before,
.main-title::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--main-transition);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-title:hover {
    color: white;
    border-color: white;
    transition-delay: 0.5s;
}

.header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .container .logo {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 26px;
    height: var(--header-height);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .header .container .logo {
        width: 100%;
        height: 50px;
    }
}

.header .container .main-nav {
    display: flex;
}

@media (max-width: 767px) {
    .header .container .main-nav {
        margin: auto;
    }
}

.header .container .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    text-transform: capitalize;
    color: black;
    padding: 0 30px;
    transition: var(--main-transition);
    position: relative;
    overflow: hidden;
}

@media (max-width: 767px) {
    .header .container .main-nav > li > a {
        padding: 10px;
        font-size: 13px;
        height: 40px;
    }
}

.header .container .main-nav > li > a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

.header .container .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.header .container .main-nav > li > a:hover::before {
    left: 0;
}

.header .mega-menu {
    position: absolute;
    width: 100%;
    top: calc(100% + 50px);
    left: 0;
    padding: 30px;
    background-color: white;
    z-index: -1;
    display: flex;
    gap: 40px;
    border-bottom: 3px solid var(--main-color);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}

.header .main-nav li:last-of-type:hover .mega-menu {
    z-index: 1;
    top: calc(100% + 1px);
    opacity: 1;
}

@media (max-width: 767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}


.header .mega-menu .image img {
    max-width: 100%;
    height: 250PX;
}

@media (max-width:991px){
    .header .mega-menu .image img {
        display: none;
    }
}

.header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}

.header .mega-menu .links li {
    position: relative;
}

.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
    .header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}


.header .mega-menu .links li::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #fafafa;
    transition: var(--main-transition);
}

.header .mega-menu .links li:hover::before {
    width: 100%;
}

.header .mega-menu .links li a {
    color: var(--main-color);
    display: block;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

.header .mega-menu .links li a i {
    margin-right: 10px;
}

.landing {
    position: relative;
}

.landing::before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    height: calc(100vh - var(--header-height));
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.landing .content {
    flex: 1;
}

@media (max-width: 991px) {
    .landing .content {
        text-align: center;
    }
}


.landing .content h1 {
    text-transform: capitalize;
    font-size: 40px;
    margin: 0;
    letter-spacing: -2;
}

@media (max-width: 991px) {
    .landing .content h1 {
        font-size: 28px;
    }
}

.landing .content p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}

@media (max-width: 991px) {
    .landing .content p {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .landing .content p {
        margin: 10px auto;
    }
}

.landing .image img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
    .landing .image {
        display: none;
    }
}

.landing .go-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
    transition: var(--main-transition);
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

.landing .go-down i {
    animation: bouncing 1.5s infinite;
}

.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .container .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}

.articles .container .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.articles .container .box img {
    width: 100%;
    max-width: 100%;
}

.articles .container .box .content{
    padding: 20px;
}

.articles .container .box .content h3 {
    text-transform: capitalize;
    margin: 0;
}

.articles .container .box .content p {
    color: #666;
    line-height: 1.5;
    margin: 10px 0 0;
}

.articles .container .box .info {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e6e6e7;
    
}

.articles .container .box .info a {
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: bold;
}

.articles .container .box .info i {
    color: var(--main-color);
}

.articles .box:hover .info i {
    animation: moving-arrow 0.6s linear infinite;
}

.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-bg-color);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .container .box {
    background-color:white;
    padding: 15px;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}

.gallery .container .box .image {
    position: relative;
    overflow: hidden;
}

.gallery .container .box .image::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(250 250 250 / 20%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}

.gallery .container .box .image:hover::before {
    animation: flashing 0.7s;
}

.gallery .container .box .image img {
    width: 100%;
    max-width: 100%;
    transition: var(--main-transition);
}

.gallery .container .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
}

.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .container .box {
    text-align: center;
    border: 1px solid #ccc;
}

.features .container .box .img-holder {
    position: relative;
    overflow: hidden;
}

.features .container .box .img-holder::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -1px;
    top: 0;
}

.features .container .box .img-holder::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}

.features .container .box:hover .img-holder::after {
    border-width: 170px 500px 170px 0;
    border-color: transparent transparent white transparent;
}

.features .container .box .img-holder img {
    max-width: 100%;
}

.features .container .box h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}

.features .container .box h2::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
}

.features .container .box p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
}

.features .container .box a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    transition: var(--main-transition);
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-transition);
}

.features .container .quality .img-holder::before {
    background-color: rgb(244 64 54 / 60%);
}

.features .container .quality h2::after {
    background-color: #f44036;
}

.features .container .quality a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .container .box:hover a {
    background-position: left bottom;
    color: white;
}

.features .container .time .img-holder::before {
    background-color: rgb(0 150 136 / 60%);
}

.features .container .time h2::after {
    background-color: #009688;
}

.features .container .time a {
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .container .passion .img-holder::before {
    background-color: rgb(0 0 255 / 40%);
}


.features .container .passion h2::after {
    background-color: rgb(3 169 244 / 60%);
}

.features .container .passion a {
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.testimonials {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-bg-color);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .container .box {
    background-color: white;
    position: relative;
    padding: 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    border-radius: 6px;
}

.testimonials .container .box img {
    width: 100px;
    border-radius: 50%;
    border: 10px solid var(--section-bg-color);
    position: absolute;
    top: -50px;
    right: -10px;
}

.testimonials .container .box h3 {
    color: var(--main-color);
    margin: 0 0 10px;
}

.testimonials .container .box .title {
    display: block;
    color: #777;
    margin-bottom: 10px;
}

.testimonials .container .box .rate i.filled {
    color: #FFC107;
}

.testimonials .container .box p {
    color: #777;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 0;
}

.team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.team .container .box .data img {
    max-width: 100%;
    width: 100%;
}

.team .container .box .data {
    display: flex ;
}


@keyframes up-and-down {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}

@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40%, 60% {
        transform: translateY(-10px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        width: 50%;
        height: 100%;
        border-radius: 0;
        left: 0;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        width: 50%;
        height: 100%;
        border-radius: 0;
        right: 0;
    }
}

@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}

@keyframes flashing {
    0%, 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}